<a href="https://colab.research.google.com/github/kabir-kj/Assignment-01-Python-Assignment/blob/main/Assignment_01_Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Assignment

Q1. L is a list defined as 

L= [11, 12, 13, 14].

(i) WAP to add 50 and 60 to L. 

(ii) WAP to remove 11 and 13from L.

(iii) WAP to sort L in ascending order.

(iv) WAP to sort L in descending order.

(v) WAP to search for 13 in L.

(vi) WAP to count the number of elements 
present in L.

(vii) WAP to sum all the elements in L.

(viii) WAP to sum all ODD numbers in L.

(ix) WAP to sum all EVEN numbers in L.

(x) WAP to sum all PRIME numbers in L.

(xi) WAP to clear all the elements in L.

(xii) WAP to delete L.

In [ ]:
l= [11, 12, 13, 14]
#1
l.extend([50,60])
print(l)

#2
l.remove(11)
l.remove(13)
print(l)

#3
l.sort()
print(l)

#4
l.sort(reverse=True)
print(l)

#5
s=13
print(s in l)

#6
print(len(l))

#7
print(sum(l))

#8,9
even=0
odd=0
for n in l:
  if  n % 2 == 0: 
    even=even+n
  else:
    odd=odd+n
print("Even sum - ",even)
print("Odd sum - ",odd)

#10
def prime(nums):
    if len(nums) > 0:    
        e = lambda a: 2 in [a, 2**a%a]
        return sum(filter(e, nums))
    else:
        return 0
print(prime(l))

#11
print(l.clear())

#12
del l

[11, 12, 13, 14, 50, 60]
[12, 14, 50, 60]
[12, 14, 50, 60]
[60, 50, 14, 12]
False
4
136
Even sum -  136
Odd sum -  0
0
None

Q2. D is a dictionary defined as 
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.

(i) WAP to add new entry in D; key=8 and value is 8.8

(ii) WAP to remove key=2.

(iii) WAP to check weather 6 key is present in D.

(iv) WAP to count the number of elements present in D.

(v) WAP to add all the values present D.

(vi) WAP to update the value of 3 to 7.1.

(vii) WAP to clear the dictionary

In [ ]:
d= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}

#1
d[8]=88
print(d)

#2
print(d.pop(2))

#3
print(d.get(6))

#4
print(len(d))

#5
sum=0
for x in d.values():
  sum+=x
print(sum)

#6
d[3]=7.1

#7
d.clear()

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 88}
7.8
None
5
116.6

Q3. 
 S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
 
 S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

(i) WAP to add 55 and 66 in Set S1.

(ii) WAP to remove 10 and 30 from Set S1.

(iii) WAP to check whether 40 is present in S1.

(iv) WAP to find the union between S1 and S2.

(v) WAP to find the intersection between S1 and S2.

(vi) WAP to find the S1 - S2.

In [ ]:
s1= set([10, 20, 30, 40, 50, 60])
s2= set([40, 50, 60, 70, 80, 90])

#1
s1.add(55)
s1.add(66)
print(s1)

#2
s1.remove(10)
s1.remove(30)
print(s1)

#3
print(40 in s1)

#4
print(s1.union(s2))

#5
print(s1.intersection(s2))

#6
print(s1.difference(s2))

{66, 40, 10, 50, 20, 55, 60, 30}
{66, 40, 50, 20, 55, 60}
True
{66, 70, 40, 80, 50, 20, 55, 90, 60}
{40, 50, 60}
{66, 20, 55}

Q4. Write the following program.

(i) WAP to print 100 random strings whose length between 6 and 8.

(ii) WAP to print all prime numbers between 600 and 800.

(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [ ]:
#1
import string as s
import random as r

for a in range(100):
   word= r.sample(s.ascii_letters,r.randint(6,8))
   word1="".join(word)
   print(word1)

#2
l=600
u=800
print ("The Prime Numbers in the range are: ")  
for number in range (l, u + 1):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            print (number) 

#3
print ("The Divisible Numbers in the range are: ")  
for i in range(100,1000):
  if i % 7 == 0 and i//9 == 0:
    print(i)

LUbtDPhn
OmYHcud
KIrhnNq
KFtkay
dmbcZU
dJkMjVE
LMkdKaj
dOlEcmM
KRuAnmQO
jPNoaXg
MZVwRv
hKaSGxr
eUKksz
HhNsFX
ICWzAtv
eHDBkhP
ALNhuqF
kSECndu
cmxltqO
jDIKxMZH
YdwAck
GJvQPL
bOVUFW
sKxpazC
MjpBSA
ETVbORo
JLyhQj
QghnTW
LJUWhvT
QWLbhZcH
FQcfgmaX
RAPGnb
RHBxfJ
zDnPSl
OCVnXZBH
CXWBTKeP
QVtSxY
xUAXBjZI
wWjRKx
JwVDYjS
knyICo
sqnRtNfO
zDLdYXB
tqPErv
LWngFy
AGqkznU
zDxGPMh
AMGUho
LYfAZmX
TKxpHeNg
CJFSRH
JDaPvC
YiAykUh
zIDikejw
tRDbmY
UrsfStZg
owJcNx
vrQhiYcU
sYSfCp
kBPwcaTu
tYzGeUS
xZMDOUv
sPmMWwJ
HrDTsYZw
SPFBAC
kuzHRsA
BbQYrjh
sISNamyK
dIuZaKR
nSVDPHm
AMYvuk
FRGBLs
gljABzxd
VHfSvT
drvWQf
DBAtLrm
JvWmHhV
tRmiMu
vfSOxz
imzqDCp
FNEoiZPH
eRYMJK
hpyIfvC
agsNMQ
PQwTUr
jRCIne
Ilxkne
bxZYVrcn
MACVoU
UhIMND
lwujdfq
GFzUJy
pZPBnRxA
SEfJuzD
YrSycMV
bSfNxUu
UnBquvN
qYQRzdM
uySoakV
lUXgjBP
The Prime Numbers in the range are:
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
The Divisible Numbers in the range are:

Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find 

(i) Common numbers in the two lists

(ii) Unique numbers in both the list

(iii) Minimum in both the list

(iv) Maximum in both the list

(v) Sum of both the lists

In [ ]:
import random
random.seed(1)
l1=[]
l2=[]
n=10
for i in range(n):
    l1.append(random.randint(10,30))
    l2.append(random.randint(10,30))
print(l1)
print(l2)

#1
c = [value for value in l1 if value in l2]
print("Common int ",c)

#2
d = [value for value in l1 if value not in l2]
e = [value for value in l2 if value not in l1]
print("Unique int in l1 ",d)
print("Unique int in l2 ",e)

#3
print(min(l1+l2))

#4
print(max(l1+l2))

#5
del sum
print(sum(l1+l2))

[14, 12, 13, 24, 30, 16, 25, 22, 29, 24]
[28, 18, 25, 25, 22, 13, 10, 23, 10, 18]
Common int  [13, 25, 22]
Unique int in l1  [14, 12, 24, 30, 16, 29, 24]
Unique int in l2  [28, 18, 10, 23, 10, 18]
10
30
401

Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the: 

(i) All odd numbers

(ii) All even numbers

(iii) All prime numbers

In [ ]:
import random
random.seed(2)
l=[]
for i in range(100):
    l.append(random.randint(100,900))
print(l)

even=[]
odd=[]
prime1=[]
for n in l:
  if  n % 2 == 0: 
    even.append(n)
  else:
    odd.append(n)
#1
print("Even - ",even)

#2
print("Odd - ",odd)

#3
for num in l :
    if num == 0 or num == 1 :
        continue
    for i in range(2, num // 2 + 1) :
        if num % i == 0 :
            break
    else :
        prime1.append(num)
print("Prime - ",prime1)

[157, 193, 186, 469, 273, 853, 785, 415, 357, 720, 317, 721, 136, 695, 797, 262, 541, 753, 502, 840, 621, 480, 657, 555, 614, 374, 136, 128, 472, 576, 426, 489, 533, 638, 268, 673, 281, 341, 336, 124, 280, 432, 277, 239, 622, 622, 468, 626, 790, 673, 286, 556, 524, 852, 637, 881, 472, 707, 462, 470, 556, 265, 872, 509, 832, 856, 572, 770, 643, 355, 601, 385, 610, 612, 627, 462, 777, 565, 572, 459, 681, 843, 670, 841, 567, 598, 774, 327, 432, 816, 270, 731, 374, 891, 591, 416, 410, 823, 616, 675]
Even -  [186, 720, 136, 262, 502, 840, 480, 614, 374, 136, 128, 472, 576, 426, 638, 268, 336, 124, 280, 432, 622, 622, 468, 626, 790, 286, 556, 524, 852, 472, 462, 470, 556, 872, 832, 856, 572, 770, 610, 612, 462, 572, 670, 598, 774, 432, 816, 270, 374, 416, 410, 616]
Odd -  [157, 193, 469, 273, 853, 785, 415, 357, 317, 721, 695, 797, 541, 753, 621, 657, 555, 489, 533, 673, 281, 341, 277, 239, 673, 637, 881, 707, 265, 509, 643, 355, 601, 385, 627, 777, 565, 459, 681, 843, 841, 567, 327, 731, 891, 591, 823, 675]
Prime -  [157, 193, 853, 317, 797, 541, 673, 281, 277, 239, 673, 881, 509, 643, 601, 823]

Q7. D is a dictionary defined as 

D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}. 

WAP to read all the keys and values from dictionary and write to the file in the given below format.

Key1, Value1

Key2, Value2

Key3, Value3

In [ ]:
d={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}

fp=open('dict.txt','w')
for x,y in d.items():
	fp.write(str(x)+","+y + "\n")
fp.close()

Q8. L is a list defined as 

L={"One","Two","Three","Four","Five"}.

WAP to count the length of reach element from a list and write to the file in the given below format:

One, 3

Two, 3

Four, 4

In [ ]:
L=["One","Two","Three","Four","Five"]

fp=open('list.txt','w')
for x in L:
	fp.write(x+","+str(len(x)) + "\n")
fp.close()

Q9. Write to the file 100 random strings whose length between 10 and 15

In [ ]:
import string as s
import random as r

fp=open('str.txt','w')
for a in range(100):
   word= r.sample(s.ascii_letters,r.randint(10,15))
   word1="".join(word)
   fp.write(word1 + "\n")
fp.close()

Q10. Write to the file all prime numbers between 600 and 800.

In [ ]:
import string as s
import random as r

fp=open('prime.txt','w')
for number in range (600,800):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            fp.write(str(number) + "\n")
fp.close()

Q11. WAP to calculate the time taken by a program.

In [ ]:
import time

startTime = time.time()

n = 5

print("Program Started")
print("\nWaiting for 5 sec....")
time.sleep(n)

print("\nTotal Time in sec ",(round( time.time() - startTime,4)))

Program Started

Waiting for 5 sec....

Total Time in sec  5.0072

Q12. WAP to sort following number of elements in a list, calculate time taken and plot the graph. 

Number of elements in list Time Taken

5k T1

10k T2

15k T3

20k T4

25k T5

In [60]:
import random as r
import time
import itertools
random.seed(2)
val=[5000,10000,15000,20000,25000]
l=[]
t=[]
for x in val:
  for i in range(x):
      l.append(r.random())
  startTime = time.time()
  l.sort()
  t.append(round( time.time() - startTime,4))

for (x,y) in itertools.zip_longest(val,t):
  print("For ",x," items time taken is ", y)

For  5000  items time taken is  0.0059
For  10000  items time taken is  0.0024
For  15000  items time taken is  0.0032
For  20000  items time taken is  0.0045
For  25000  items time taken is  0.0059

Q13. WAP to create a dictionary of student marks in five subjects and you have to find the student 
 having maximum and minimum average marks

In [63]:
dic = {"babu": [78, 69, 61, 80, 89], "raju": [42, 60, 37, 53, 90], "sham": [30, 29, 56, 74, 20]}
max_marks = -1
min_marks = 999
avg = dict()
for name, marks in dic.items():
  add = sum(marks)
  avg[name] = [name, add, add / 5]
  print(avg[name])
  if add > max_marks:
    max_marks = add
    high = name
  if add < min_marks :
    min_marks = add
    low = name
print(high,"has highest ")
print(low,"has lowest ")

['babu', 377, 75.4]
['raju', 282, 56.4]
['sham', 209, 41.8]
babu has highest  377
sham has lowest  209